.single-product img {
	width: 100%;
}
.productMeta .probox img {
	width: 100%;
}
.productMeta .single-title {
	line-height: 36px;
	overflow: hidden;
	margin: 0px 0 5px;
}
.productMeta .productview {
	padding: 15px;
}
.imgbox {
	position: relative;
}
.showbox {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.showbox img {
	position: absolute;
	width: 300%;
	height: 300%;
	z-index: 999;
}
.hoverbox {
	display: none;
	position: absolute;
	background: #fff;
	height: 33.3%;
	width: 33.3%;
	cursor: move;
	z-index: 99;
	opacity: 0.5;
}
.productMeta .product-meta {
	line-height: 30px;
	padding: 20px 10px;
}
.product-meta .price{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 15px 0;
}
.product-meta .price > span {
	color: #FF69B4;
	font-weight: bold;
	font-size: 20px;
}
.product-meta .price i {
	font-style: normal;
}
.product-inquiry,.add-to-cart {
	display: inline-block;
	margin: 10px 15px 5px 0;
	border: 1px #FF69B4 solid;
	padding: 10px 30px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #FF69B4;
	opacity: 0.8;
}
.product-inquiry:hover,.add-to-cart:hover {
	color: #FFFFFF;
	background-color: #FF69B4;
	opacity: 1;
	text-decoration: none;
}
.product-meta .cart{
	padding: 10px 0;
}
.add-to-cart{
	padding: 3px 20px;
}
.productMeta .thumbimg {
	overflow: hidden;
	margin: 10px 0;
	opacity: 0.8;
	position: relative;
}
.productMeta #thumblist {
	margin: 0 auto;
}
.productMeta #thumblist .itemroll {
	border: 1px #E3E3E3 solid;
	float: left;
	margin-right: 10px;
	padding: 1px;
}
.productMeta #thumblist .itemroll.active {
	border: 2px #FF69B4 solid;
}
.productMeta #thumblist .itemroll img {
	width: 89.5px;
	height: 89px;
	cursor: pointer;
}
.productMeta .thumbimg .carousel-control {
	width: 10%;
	line-height: 80px;
}
.productinfo {
	margin-top: 30px;
}
.productinfo ul.nav-tabs{
	border-bottom: 1px #D5D5D5 solid;
}
.productinfo ul.nav-tabs>li{
	width: 25%;
	float: left;
}
.productinfo ul.nav-tabs li>a{
	border-bottom: none;
}
.productinfo ul.nav-tabs>.active>a{
	margin-bottom: -1px;
}
.productinfo .product-tabs {
	margin: 20px 0;
}
.productinfo .product-tabs .product-describe {
	margin: 20px 0;
	border-bottom: 1px #D5D5D5 solid;
}
.productinfo .product-tabs .product-describe > p {
	line-height: 26px;
}
.productinfo .nav-tabs {
	display: none;
}
@media (min-width: 768px) {
	.productinfo .product-tabs > :not(:first-child) {
		display: none;
	}
	.productinfo .nav-tabs {
		display: block;
	}
	.product-describe-title {
		display: none;
	}
}
.product-describe-title {
	margin: 20px 0;
	line-height: 39px;
	border-bottom: 1px #D5D5D5 solid;
}
.post-prev-next {
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 26px;
}
.related-product > h3 {
	margin: 20px 0;
	line-height: 39px;
	border-bottom: 1px #D5D5D5 solid;
}
.myBackdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.5);
}
#newDialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 99999;
	text-align: center;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}